<h1 mat-dialog-title>Add Blog</h1>
<div mat-dialog-content class="form">
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [formControl]="data.description" ></textarea>
  </mat-form-field>
  <div>
    <mat-label>Rating</mat-label><br>
    <mat-slider min="1" max="5" step="0" value="1" discrete showTickMarks>
      <input matSliderThumb [formControl]="data.rating">
    </mat-slider>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-icon-button mat-dialog-close color="warn"><mat-icon>close</mat-icon></button>
  <button mat-icon-button color="primary" (click)="AddBlog()"><mat-icon>add</mat-icon></button>
</div>
